{% extends 'base.html.twig' %}

{% block title %}Новая задача{% endblock %}

{% block body %}
    <a href="{{ path('task_index') }}" class="small ml-3">Вернуться к списку задач</a>
    <h1 class="text-success ml-3">Создать задачу</h1>

    <div class="row mt-3">
        <div class="col-sm-5">
            <div class="ml-3 border rounded p-3">
                {{ form_start(formTask, {'attr' : {'novalidate' : 'novalidate'}}) }}
                    {{ form_row(formTask.name) }}
                    {{ form_row(formTask.description, {'attr' : {'rows' : 4}}) }}
                    {{ form_row(formTask.status) }}
                    <button class="btn btn-success btn-lg">Создать</button>
                {{ form_end(formTask) }}
            </div>
        </div>
    </div>
{% endblock %}
